<app-home></app-home>
<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">Sign in to your account</mat-toolbar>
    <mat-card>
      <form class="form-login" [formGroup]="loginForm">
        <div class="container">
          <div>
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required />
                <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput placeholder="**********" formControlName="password" required />
                <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
              </mat-form-field>
            </div>
          </div>
          <div class="container-buttons">
            <div>
              <button mat-stroked-button color="primary" routerLink="/home">Cancel</button>
            </div>
            <div class="top">
              <p-toast class="top"></p-toast>
              <button type="button" (click)="login()" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Login</button>
              <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
