.login-container {
  margin-top: 50px;
  height: 80%;
  width: 100%;
  align-items: center;
  display: flex;
}

.mat-card {
  width: 100%;
}

.container {
  padding: 10px;
  width: 100%;
}

form {
  width: 100%;
}

.login-content {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}

.socialMediaFlex {

  display: flex;
  justify-content: space-around;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;

}

/* Form inputs*/
.form-login {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.two-column-container {
  display: flex;
}

.two-column-container>div {
  flex: 1;
  margin-right: 10px;
  /* Ajusta el espacio entre las columnas según tu preferencia */
}

.two-column-container>div:last-child {
  margin-right: 0;
  /* Elimina el margen derecho del último div para evitar un espacio adicional */
}
