<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">New booking</mat-toolbar>
    <mat-card>
      <form [formGroup]="formNewBooking" class="form-login" action="#">
        <div class="container">
          <div class="two-column-container">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateReserva" placeholder="mm-dd-yyyy">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Booking type</mat-label>
                <mat-select formControlName="tipoReserva">
                  <mat-option
                    *ngFor="let bookingType of typesRes"
                    [value]="bookingType.value"
                  >
                    {{ bookingType.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="two-column-container">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Hour Start</mat-label>
                <mat-select formControlName="hourStart">
                  <mat-option *ngFor="let hourStart of hours" [value]="hourStart.value">
                    {{ hourStart.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Hour Finish</mat-label>
                <mat-select formControlName="hourFinish">
                  <mat-option *ngFor="let hourFinish of hours" [value]="hourFinish.value">
                    {{ hourFinish.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>


          <div>
          <div>
          <mat-form-field class="example-full-width">
            <mat-label>Number persons</mat-label>
            <input matInput type="number" placeholder="21" formControlName="quantityPersons"/>
          </mat-form-field>
          </div>
          </div>
          <div class="mat-form-sin-flex">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Observations</mat-label>
              <textarea matInput placeholder="Ex. childrens" formControlName="observations" ></textarea>
            </mat-form-field>
          </div>
        </div>
        <mat-dialog-actions>
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveReserva()" > Save</button>
        </mat-dialog-actions>
      </form>
    </mat-card>
  </div>
</div>
