<app-home></app-home>
<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">Create account</mat-toolbar>
    <mat-card>
      <form [formGroup]="formSignup" class="form-login" action="#">
        <div class="container">
          <div class="two-column-container">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Document type</mat-label>
                <mat-select formControlName="tipoDocument">
                  <mat-option *ngFor="let tipoDoc of typesDocs" [value]="tipoDoc.value">
                    {{tipoDoc.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your document</mat-label>
                <input name="document" matInput placeholder="1007517380" maxlength="10" formControlName="document"
                  (keypress)="onKeyPressNumber($event)" required />
                <mat-error *ngIf="getDocument.hasError('required')">
                  Document is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="two-column-container">
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your name</mat-label>
                <input matInput placeholder="John" formControlName="firstName" (keypress)="onKeyPressText($event)"
                  required />
                <mat-error *ngIf="getFirstName.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="getFirstName.hasError('minlength')">
                  Name must be at least <strong>3 characters long</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your surname</mat-label>
                <input matInput placeholder="Smith" formControlName="lastName" (keypress)="onKeyPressText($event)"
                  required />
                <mat-error *ngIf="getLastName.hasError('required')">
                  Surname is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="getLastName.hasError('minlength')">
                  Surname must be at least <strong>3 characters long</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="two-column-container">
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" placeholder="3218028370" formControlName="phone"
                  (keypress)="onKeyPressNumber($event)" maxlength="10" required />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Birthdate</mat-label>
                <input matInput type="date" placeholder="21/06/1948" formControlName="birthdate" required />
              </mat-form-field>
            </div>
          </div>

          <div>
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your email</mat-label>
                <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                  placeholder="pat@example.com" />
                <mat-error *ngIf="getEmail.hasError('email') && !getEmail.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="getEmail.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>

              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput placeholder="**********" formControlName="password" required />
                <mat-error *ngIf="getPass.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="getPass.hasError('minlength')">
                  Password must be at least <strong>6 characters long</strong>
                </mat-error>
                <mat-error *ngIf="getPass.hasError('minlength')">
                  Password must contains <strong> numbers</strong>
                </mat-error>


              </mat-form-field>
            </div>
          </div>
          <div class="container-buttons">
            <div>
              <button mat-stroked-button color="primary" routerLink="/home">Cancel</button>
            </div>
            <div>
              <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
              <button type="button" [disabled]="formSignup.invalid" (click)="save()" mat-raised-button
                color="primary">Register</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
