<div class="view-wrapper">
  <div class="header-container">
    <div class="header-container">
    </div>
    <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
      <button (click)="openDialog()" class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500
        shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
        New Booking
      </button>
      <button class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
        shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
        Logout
      </button>
    </div>
  </div>
  <mat-card>
    <div class="panel-header">
      <div class="basic-info-top-item">

        <p><span class="font-light text-gray-500">Personal ID: {{document}} </span></p>
        <h1 class="text-4xl font-medium text-gray-700">
          {{firstName}} {{lastName}}
        </h1>
      </div>
      <div>
        <div class="basic-info-top-item">
          <p class="font-light text-gray-600 mt-3"> {{tipoDoc}} </p>
          <p class="mt-8 text-gray-500">{{email}}</p>
        </div>

      </div>
    </div>

    <div class="cards-container">
      <div class="p-4">
        <div class="p-8 bg-white shadow mt-5">

          <div class="">
            <!--<div class="mat-elevation-z8">-->
            <table mat-table [dataSource]="dataSource">

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="dateReserva">
                <th mat-header-cell *matHeaderCellDef> Date Reserva </th>
                <td mat-cell *matCellDef="let data"> {{data.dateReserva}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="tipoReserva">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoReserva}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="hourStart">
                <th mat-header-cell *matHeaderCellDef> Init </th>
                <td mat-cell *matCellDef="let element"> {{element.hourStart}} </td>
              </ng-container>

              <ng-container matColumnDef="hourFinish">
                <th mat-header-cell *matHeaderCellDef> Finish </th>
                <td mat-cell *matCellDef="let element"> {{element.hourFinish}} </td>
              </ng-container>

              <ng-container matColumnDef="quantityPersons">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.quantityPersons}} </td>
              </ng-container>

              <ng-container matColumnDef="observations">
                <th mat-header-cell *matHeaderCellDef> Observations </th>
                <td mat-cell *matCellDef="let element"> {{element.observations}} </td>
              </ng-container>
              <ng-container matColumnDef="statusReserva">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.statusReserva}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          <div class="mt-12 flex flex-col justify-center">
            <p class="text-gray-600 text-center font-light lg:px-16">
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
