.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-top: var(--content-padding);
  max-width: 1200px;
  margin: 0 auto;

  &>.dx-toolbar {
    width: auto;
    position: relative;

    &.scrolled {
      padding-bottom: 8px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    dx-button[text="Cancel"] {
      margin-right: 5px;
    }
  }
}



.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.spacer-buttons {
  margin-left: 15px;
}
.header-text {
  font-size: x-large;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-bottom: 1px solid #e0e0e0
}

.basic-info-top-item {
  display: flex;
  flex-direction: column;
}


table {
  width: 100%;
}

.cards-container{
  width: 100%;
}
