/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */

/*tuvimos que cometar esta linea de import de bootstrap para que los toast de prime salieran del tamaño correcto*/

/*@import Url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
