<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img width="40" alt="Booking Logo" src="https://www.svgrepo.com/show/140658/calendar.svg" />
    <span>Booking App</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button color="primary" mat-fab extended>
      <mat-icon>home</mat-icon>
      Home
    </button>

    <span class="spacer"></span>
    <div>
      <button mat-raised-button color="primary" routerLink="/signin" routerLinkActive="activeButton">Sign In</button>
      |
      <button mat-raised-button color="primary" routerLink="/signup" routerLinkActive="active">Registrer</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
