img {
  padding-right: 15px;
}

.container {
  display: flex;
  /* or inline-flex */
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  background-color: darkblue;
  color: white;
}

p {
  font-family: Lato;
}

.example-card {
  max-width: 400px;
}


.progress-wrapper {
  padding: 2rem;
}
